<configuration>
	<connectionStrings>
		<add name="OrderManagementDB"
			 connectionString="Data Source=DEUSEXMACHINA;Initial Catalog=OrderManagementSystem;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
